<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Stasis</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- navbar -->
<body>
  <nav class="navbar navbar-expand-md mb-5 navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stasis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/feed">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friends">Friends</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
          
          <a href="/users/logout" class="btn btn-secondary">Logout</a>
        
      </div>
    </div>
  </nav>

<!-- navbar -->


<div class="mx-auto text-center container bg-black">
    <button id="btn-get-stats" class="btn btn-primary mt-5">Refresh Stats</button>
    <h1 id="profileName" class="text-center mt-5">Profile</h1>
    <h1 class="text-center mt-5">Asset Balance:</h1>
    <button id="buyCrypto" class="btn btn-primary">Buy Crypto</button>
    <iframe id="myIframe" src="" frameborder="0" width="350" height="650" style="display:none"></iframe>
    <h2 id="ethBalance" class="text-center mt-5">$5,000</h2>
    <h2 id="displayNfts" class="text-center mt-5">NFTs</h2>
    <h2 class="text-center mt-5"></h2>
    


      <% books.forEach((row, index) => { %>
          <div class="align-middle">
              <p><%= index %></p>
              <p><img src="<%= row.image %>" width="50" class="img-thumbnail" alt=""></p>
              <p><%= row.title %></p>
              <p><%= row.author %></p>
              <p><%= row.publishDate %></p>
              <p>
                  <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                  <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
              </p>
          </div>
      <% })%>

      <!-- Start of The Calculator -->
    
    <script type="text/javascript" src="main.js"></script>
</body>
</html>