<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Stasis</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- navbar -->
<body>
  <nav class="navbar navbar-expand-md mb-5 navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stasis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Friends</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<!-- navbar -->



<div class="mx-auto text-center container bg-black">
    <h1 class="text-center mt-5">Dashboard</h1>
    <h1 class="text-center mt-5">Total Asset Value:</h1>
    <h2 class="text-center mt-5">$5,000</h2>
    <h2 class="text-center mt-5">NFTs</h2>
    <h2 class="text-center mt-5">$0</h2>



      <!-- <% books.forEach((row, index) => { %>
          <div class="align-middle">
              <p><%= index %></p>
              <p><img src="<%= row.image %>" width="50" class="img-thumbnail" alt=""></p>
              <p><%= row.title %></p>
              <p><%= row.author %></p>
              <p><%= row.publishDate %></p>
              <p>
                  <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                  <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
              </p>
          </div>
      <% })%> -->

      <!-- Start of The Calculator -->
    <div class="container">
      <!-- inputs' -->
      <div class="mx-auto jumbotron col-xl-4 col-xl-offset-4 col-md-6 col-md-offset-3 p-x-3 p-y-3 col-xs-12 bg-black">
        <div class="input-group input-group-sm col-xs-12 p-a-0">
          <input class="col-xs-12 form-control text-xs-right" id="calcscreen" type="text"/>
        </div>
        <div class="input-group input-group-lg col-xs-12 p-a-0"> 
          <input class="form-control text-xs-right" id="numberscreen" type="text"/>
        </div>

          <!-- buttons -->
        <div class="col-xs-7 calc__clearpad p-a-0 m-t-2">    
          <button class="btn btn-danger col-xs-4 numbers" id="ce" type="button">CE</button>
          <button class="btn btn-danger col-xs-4 numbers" id="c" type="button">C</button>
          <button class="btn btn-secondary col-xs-4 numbers" id="±" type="button"> ±</button>
          <button class="btn btn-secondary col-xs-12 numbers" id="ans" type="button"> ANS   </button>
        </div>

        <div class="col-xs-7 calc__clearpad p-a-0 m-t-2">

        </div>
        <div class="col-xs-7 calc__numberpad p-a-0">
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="1" type="button">1</button>
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="2" type="button">2</button>
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="3" type="button">3</button>
          <button class="btn btn-lg btn-secondary col-xs-6 operator" func="+" type="button">+ </button>
        </div>

        <div class="col-xs-7 calc__clearpad p-a-0 m-t-2">
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="4" type="button">4</button>
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="5" type="button">5</button>
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="6" type="button">6</button>
          <button class="btn btn-lg btn-secondary col-xs-6 operator" func="-" type="button">- </button>
        </div>

        <div class="col-xs-7 calc__clearpad p-a-0 m-t-2">
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="7" type="button">7</button>
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="8" type="button">8</button>
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="9" type="button">9</button>
          <button class="btn btn-lg btn-secondary col-xs-8 numbers" func="0" type="button">0 </button>
        </div>
        
        <div class="col-xs-5 calc__operatorpad p-a-0">    
          <button class="btn btn-lg btn-secondary col-xs-4 numbers" func="." type="button">.</button>
          <button class="btn btn-lg btn-secondary col-xs-6 operator" func="%" type="button">% </button>
          <button class="btn btn-lg btn-secondary col-xs-6 operator" func="*" type="button">* </button>
          <button class="btn btn-lg btn-secondary btn-lg col-xs-6" id="squareroot" func="√" type="button">√</button>
          <button class="btn btn-lg btn-primary col-xs-12" id="equals" func="=" type="button"> =</button>
        </div>

        <div class="mt-4">
            <button class="btn btn-primary">Add to Pool</button>
            <button class="btn btn-secondary">Request Payout</button>
        </div>
      </div>
      <div class="row">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </div>
    </div>  
  </div>
    
    <script src="main.js"></script>
</body>
</html>